.infoDiv{
  margin: 0 auto;
  margin-top: 2em;
  color: orangered;

  h5 {
    color: rgb(235, 153, 1);
    margin: 0.5em;
  }

  span {
    color: green;
  }

  img {
    border-radius: 10px;
  }
}




