.formContainer{
    background: rgb(243, 91, 93);
    
    #myForm{
        background: rgb(69, 186, 186);
        color: white;
        margin: 0 auto;
       margin-top: 3em;
       padding: 2em;
       margin-bottom: 8em;
 

    div {
        margin-bottom: 0.5em;
    }

    .divMyTotal2{
        min-height: 2.5em;
    }
   
}

}