    .divCard {
      cursor: pointer;
      text-align: start;
      position: absolute;
      z-index: 2;

      & .divRows {
        margin: 0.5em;
        padding-left: 1em;
        color: white;
        border: solid 1px teal;
        border-radius: 15px;
        padding: 0.5em;
        background: rgba(255, 255, 255, 0.288);

        & b {
            color: rgb(2, 222, 222);
        }
      }
    }