.list_layout{

    background: rgba(96, 29, 94, 0.434);
    padding: 1em;
}

.divInputClass {
  padding: 0.5em;
  display: flex;
  color: indianred;

}

.inputList1 {
  margin-right: 1em;
  border-radius: 15px;
  color: blue;

}


img {
    border-radius: 100%;
}