.divloginContainer{
    display: grid;
    justify-items: center;
    padding: 3em;
    background-color: #600b0b;
    color: white;
    height: 100vh;
}

.divInput{
    display: grid;
    justify-items: center;
}

